.month{
  background-color: #f3ebc2;
  border:1px solid black;
  margin:10px;
  padding:15px;
  margin-top: 10px;
  position: fixed
}

tr{
  border:1px solid black;
  padding:5px;
}

.announcement{
  background-color: #f3ebc2;
  margin: 10px;
  padding: 5px;
  position: fixed;
  top:400px;

}

.bchart1{
  position: fixed;
  left: 150px;
  top:500px


}
.bchart2{
  position: fixed;
  left: 700px;
  top:500px
}
.pchart1{
  position: fixed;
  left: 150px;
  height: 100px;
  width: 100px;
}
.pchart2{
  position: fixed;
  left: 700px;
  
  
}