.month{
  background-color: #f3ebc2;
  border:1px solid black;
  padding:15px;
  margin-top: 10px;
  margin-left: 15px;
  position: fixed;
  height: 330px;
  width: 70px;
}
table{
  background-color: aliceblue;
}

tr{
  border:1px solid black;
  padding:5gpx;
}

.chair{
  background-color: #f3ebc2;
  margin-left: 15px;
  margin-top: 350px;
  padding: 15px;
  position: fixed;
  height: 230px;

}
.announcement{
  background-color: #f3ebc2;
  margin-left: 800px;
  margin-top: 10px;
  padding: 5px;
  position: fixed;
  width: 500px;
  height: 330px;

}

.bchart1{
  position: fixed;
  margin-left: 100px;
  margin-top: 350px;

}
.bchart2{
  position: fixed;
  margin-left: 720px;
  margin-top: 350px;
}

.pchart1{
  position: fixed;
  margin-left: 100px;
  margin-top: 10px;
}
.pchart2{
  position:  fixed;
  margin-left: 450px;
  margin-top: 10px;
  
  
}