html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 12px;
  }
  @media screen and (max-width: 1280px) {
    .seller_container {
      width: 1000px;
      height: 720px;
      background-color: #ffffff;
  /* 其他样式属性 */
    }
    .container_select{
      width:4%;
      height: 100%;
      background-color: #ffffff;
      overflow-y: scroll;
      
    }
  }
  @media screen and (max-width: 1920px) {
    .seller_container {
      padding-top: 20px;
      margin: 0 auto;
      width: 1450px;
      height: 600px;
      /* background-color: rgb(138, 90, 90); */

    }
    
  }
  
::-webkit-scrollbar {
    width: 10px; /* 设置滚动条宽度 */
  }
  ::-webkit-scrollbar-track {
    background-color: #ffffff;
  }
  /* 设置滚动条滑块的背景色 */
  ::-webkit-scrollbar-thumb {
    background-color: #56c4f0;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }
  
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(4, 0, 86);
  }
  
  .container_top{
    background-color: #ffffff;
    height: 40%;
    width: 93%;
    margin: 0%;
    padding: 0;
    float: left;
  }
  .container_button{
    background-color: #ffffff;
    height: 60%;
    width: 93%;
    margin: 0%;
    padding: 0;
    float: left;
  }
  .container_select{
    width:7%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    float: left;
    text-align: center;
  }