@media screen and (max-width: 1920px) {
    .seller_container {
      background-color: rgb(255, 255, 255);
    }  
  }
div{
    text-align: center;
    font-size: 14px;
}
button{
    border: 2px solid;
    color: white;
    font-weight: bold;
}
table{
    margin: auto;
}
.c{
    border-bottom: 2px solid rgb(255, 255, 255);
    padding: 7px 5px;
}
.r{
    background-color: rgb(243, 177, 178) ;
    border-radius: 5px;
    width: 100%;
    margin: 2.5px 0px 2.5px 10px;
}
.r1{
    background-color: rgb(243, 177, 178) ;
    border-radius: 5px;
    margin: 2.5px 0px 2.5px 10px;
    width: 100px;
    height: auto;
    word-wrap:break-word;
}
.chart1{
    width: 120%;
    height: 120%;
    margin-right: 15px;
}
.chart2{
    width: 120%;
    height: 120%;
    margin-right: 23px;
}
.chart3{
    width: 100%;
    height: 100%;
    padding-left: 25px;
}
.chart4{
    width: 100%;
    height: 50%;
    padding-left: 33.3%;
}
.title{
    font-size: 24px;
    font-weight: bold;
    width: 100%;
}
.block{
    float: left;
    width: 33.3%;
}
.block2{
    background-color: rgb(198, 226, 229) ;
    border-radius: 10px;
    margin: 0.5%;
    width: 95%;
}
.two{
    height: 380px;
}
.over{
    padding-right: 3%;
    height: 300px;
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar-thumb {
    background: rgb(25, 99, 132, 0.5); /* 滚动条滑块颜色 */
  }
.three{
    height: 150px;
}
.f-c{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.f-r{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
}