div{
    text-align: center;
    font-size: 14px;
}
button{
    border: 0ch;
    border-radius: 10%;
    background-color: rgb(202, 230, 255);
    width: auto;
}
td{
    border: 1px solid black;
}
.mar-l{
    margin-left: 0.05%;
}
.block{
    width: 33.3%;
    height: 100%;
    float: left;
    background-color: rgb(255, 255, 255);
}
.cen{
    display: block;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0px;
}
.f-c{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.f-r{
    display: flex;
    flex-direction: row;
}