@media screen and (max-width: 1920px) {
    .seller_container {
      background-color: rgb(255, 255, 255);
      text-align: center;
    }
    
  }


.text1{
    font-size: 24px;
    font-weight: bold;
}

.text2{
    font-size: 20px;
}

.quantity{
  font-size: 20px;
  background-color: rgb(198, 226, 229);
  border-radius: 10px;
  border-collapse: separate;
  border: 3px rgb(109, 151, 161) solid;
  border-spacing:20px 10px;
}

.ta1{
  width: 100%;
}

.ta2{
  width: 350px;
}

.div1{
  width: 15%;
  background-color: rgb(198, 226, 229);
  border-radius: 10px;
  border-collapse: separate;
  border: 3px rgb(109, 151, 161) solid ;
  position: relative;
  float: left;
}

.myChart{
  background-color: rgb(198, 226, 229);
  border-radius: 10px;
  border-collapse: separate;
  border: 3px rgb(109, 151, 161) solid ;
  height: 50%;
  width: 500px;
  
}