@media screen and (max-width: 1920px) {
    .seller_container {
      background-color: rgb(255, 255, 255);
      text-align: center;
    }
    
  }


.text1{
    font-size: 28px;
    font-weight: bold;
}

.text2{
    font-size: 20px;
}

.quantity{
  font-size: 20px;
  border: 1px double black;
}

.ta1{
  width: 150px;
}

.ta2{
  width: 350px;
}