@media screen and (max-width: 1920px) {
    .seller_container {
      background-color: rgb(255, 255, 255);
      text-align: center;
    }
    
  }

table{
  border-spacing: 15px 50px;
  border-collapse:separate;
}

.table1{
text-align: center;
}

.text1{
    font-size: 28px;
    font-weight: bold;
}

.text2{
    font-size: 20px;
}

.text3{
    font-size: 20px;
    border-bottom: 1px double black;

}

.quantity{
  text-align: center;
  font-size: 20px;
  border: 1px double black;
}

.quantity1{
  text-align: center;
  font-size: 20px;
  width: 200px;
}

.my3{
  width: 600px;
  
}

.my4{
  width: 130px;
}

.my5{
  width: 300px;
  
}

.td1{
}