.loginform{
    position: absolute;
    height: 550px;
    width: 350px;
    top: 23px;
    left: 56%;
    right: 0;
    margin: 20px;
    margin-right: 10px;
    max-width: 450px;
    padding: 14px;
    padding-bottom: 0px;
    padding-top: 40px;
    margin-right: 10px;
    background-color: rgba(80, 80, 80, 0.678);
}
.logintitle{
    background-color: rgba(169,219,230,255);  
    text-align: center;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 18px;
    margin-top: 0px;
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}
.loginfield{
    text-align: left;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    color: rgb(255, 255, 255);
}
.loginbutton{
    margin-left: 15px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
    width:300px;
    text-align: center;
    border: 0px;
    }
    
.forregister{
    text-align: right; 
    line-height: 0px;
    margin-bottom: 5px;
}
.forregister:hover{
    color: rgba(169,219,230,255);
    cursor: pointer; 
}

.loginbutton:hover{
    background-color: rgba(169,219,230,255);
    transition: 0.2s;
    color: white;
    cursor:pointer;
}

.background{
  /* Control the height of the image */
  min-height:675px; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1000px 620px;
  
  position: relative;
  background-image: url("../images/mc.jpg");
}

body{
    margin: 0px;
    background-color: rgba(41, 62, 87, 0.849);
}

input {
    width: 300px;
    background: 
    linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)) center bottom 5px /calc(100% - 10px) 2px no-repeat;
    /*background-color: #ffffff71;*/
    border: 0px;
    padding: 10px;
    outline: none;
    caret-color: rgb(255, 255, 255);
    color: white;
    font-size: 25px;
  }