.container_table{
  width:100%;
  height: 80%;
  overflow-y: scroll;
}
.seller_select{
  width:90%;
  height: 90%;
  margin: 5%;
  background-color: #23b150b4;
  
}
.sellertable_container{
  width:100%;
  height: 100%;
  background-color: #ffffffb4;
}
.seller_select,tr{
  background-color: #ffffff;
  height: 50px;
  border-bottom: #66ebff;
}
.chartarea{
  width:26%;
  height: 100%;
  float: left;
  background-color: #ffffff;
}
.small_chartarea{
  background-color: #9499ea;
  width:24%;
  height: 100%;
  float: left;
  margin-left: 1%;
}
.cardarea{
  background-color: #b15723b4;
  width:12%;
  height: 100%;
  float: left;
  margin-left: 1%;
}

.container_button_left{
  
  background-color: #b15723b4;
  width:60%;
  height: 100%;
  float: left;
}

.container_button_right{
  
  background-color: #d1b9abb4;
  width:40%;
  height: 100%;
  float: left;
}
.container_button_inside{
  background-color: #f5dfff;
  height: 60%;
  width: 100%;
  margin: 0%;
  padding: 0;
  float: left;
}
.container_top_inside{

  background-color: #ffdfdf;
  height: 40%;
  width: 100%;
  margin: 0%;
  padding: 0;
  float: left;
}
.container_button_right_divide{
  background-color: #ffffff;
  height: 50%;
  width: 100%;
  margin: 0%;
  padding: 0;
  float: left;

}