html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}
@media screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }
}
@media screen and (max-width: 1280px) {
  .container {
    width: 1000px;
    height: 720px;
    background-color: #c55252b4;
/* 其他样式属性 */
  }
  .container_select{
    width:4%;
    height: 100%;
    background-color: #8affb7b4;
    overflow-y: scroll;
  }
}
@media screen and (max-width: 1920px) {
  .container {
    width: 1530px;
    height: 720px;
    background-color: #f0f0f0b4;
  }
  .container_select{
    width:8%;
    height: 100%;
    background-color: #000000b4;
    overflow-y: scroll;
  }
  
}
.container_select.slider {
  width: 300px; /* 设置滑动条的宽度 */
  height: 10px; /* 设置滑动条的高度 */
  background-color: #ccc; /* 设置滑动条的背景颜色 */
}

/* 样式化滑块 */
.slider::-webkit-slider-thumb {
  width: 20px; /* 设置滑块的宽度 */
  height: 20px; /* 设置滑块的高度 */
  background-color: #333; /* 设置滑块的背景颜色 */
  border-radius: 50%; /* 设置滑块为圆形 */
  -webkit-appearance: none; /* 清除默认样式 */
}

.seller_select{
  width:90%;
  height: 90%;
  margin: 5%;
  background-color: #23b150b4;
}
.sellertable_container{
  width:100%;
  height: 100%;
  background-color: #b15723b4;
}
.seller_select,tr{
  background-color: #66ebff;
  height: 50px;
}