<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static "css/achievement.css" %}" rel="stylesheet">   
    <link href="{% static "css/allpageframe.css" %}" rel="stylesheet"> 
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1"></script>

    <script src="{% static 'js/achievment_page/barchart.js' %}"></script>
    <script src="{% static 'js/achievment_page/barchart2.js' %}"></script>
    <script src="{% static 'js/achievment_page/piechart.js' %}"></script>
    <script src="{% static 'js/achievment_page/piechart2.js' %}"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.0/chart.min.js" integrity="sha512-R60W3LgKdvvfwbGbqKusRu/434Snuvr9/Flhtoq9cj1LQ9P4HFKParULqOCAisHk/J4zyaEWWjiWIMuP13vXEg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> {% endcomment %}
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js" integrity="sha512-3dZ9wIrMMij8rOH7X3kLfXAzwtcHpuYpEgQg1OA4QAob1e81H8ntUQmQm3pBudqIoySO5j0tHN4ENzA6+n2r4w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>   {% endcomment %}
    <link rel="shortcut icon" href="#" />
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1"></script> {% endcomment %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.0/chart.min.js" integrity="sha512-mlz/Fs1VtBou2TrUkGzX4VoGvybkD9nkeXWJm3rle0DPHssYYx4j+8kIS15T78ttGfmOjH0lLaBXGcShaVkdkg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script> {% endcomment %}
   
    <title>Achievmnet and Sales Analysis</title>

</head>
<body>
{% include 'header.html' %}
<div class="seller_container">
    <table class="month">
        <tr>
            <td>月份</td>
        </tr>
        <tr>
            <td>一月</td>
        </tr>
        <tr>
            <td>二月</td>
        </tr>
        <tr>
            <td>三月</td>
        </tr>
        <tr>
            <td>四月</td>
        </tr>
        <tr>
            <td>五月</td>
        </tr>
        <tr>
            <td>六月</td>
        </tr>
        <tr>
            <td>七月</td>
        </tr>
        <tr>
            <td>八月</td>
        </tr>
        <tr>
            <td>九月</td>
        </tr>
        <tr>
            <td>十月</td>
        </tr>
        <tr>
            <td>十一月</td>
        </tr>
        <tr>
            <td>十二月</td>
        </tr>
    </table>

    <table class="chair" >
        <tr>
        <td>睡魔智眠椅</td>
        </tr>

        <tr>
        <td>大師椅</td>
        </tr>

        <tr>
        <td>天王按摩椅</td>
        </tr>
        <tr>
        <td>V-Motion </td>
        </tr>

    </table>
    <table class="bchart1">
        <tr>
        <td>個別產品業績排行榜</td>
        </tr>
        <tr>
            <td><canvas id="barChart1" width="600" height="200">
            </canvas></td>
        </tr>
    </table>
<table class="bchart2">
    <tr>
        <td>產品類型銷售狀況</td>
    </tr>
    <tr>

    <td><canvas id="barChart2" width="575" height="200">
    </canvas></td>
    </tr>
</table>

<table class="pchart1">
    <tr>
        <td>成本花費表</td>
    </tr> 

    <tr> 
    <td><canvas id="pieChart1" width="300" height="300">
    </canvas></td>
    </tr>

</table>

<table class="pchart2">
    <tr>
        <td>顧客成分分析表（業務員）</td>
    </tr>
    <tr>
        <td><canvas id="pieChart2" width="300" height="300">
    </canvas></td>
    </tr>
</table>
<table class="announcement" >
    <tr>
    <td>公告</td>
    </tr>

    <tr>
    <td>2023/12/12<br>
    訊息：我肚子好餓<br></td>
    </tr>

    <tr>
    <td>2023/12/13<br>
    訊息：晚餐要吃什麼<br></td>
    </tr>
</table>
</div>
</body>
</html>