<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static "css/achievement.css" %}" rel="stylesheet">   
    <link href="{% static "css/allpageframe.css" %}" rel="stylesheet"> 
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.0/chart.min.js" integrity="sha512-R60W3LgKdvvfwbGbqKusRu/434Snuvr9/Flhtoq9cj1LQ9P4HFKParULqOCAisHk/J4zyaEWWjiWIMuP13vXEg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> {% endcomment %}
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js" integrity="sha512-3dZ9wIrMMij8rOH7X3kLfXAzwtcHpuYpEgQg1OA4QAob1e81H8ntUQmQm3pBudqIoySO5j0tHN4ENzA6+n2r4w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>   {% endcomment %}
    <link rel="shortcut icon" href="#" />
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1"></script> {% endcomment %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.0/chart.min.js" integrity="sha512-mlz/Fs1VtBou2TrUkGzX4VoGvybkD9nkeXWJm3rle0DPHssYYx4j+8kIS15T78ttGfmOjH0lLaBXGcShaVkdkg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script> {% endcomment %}
   
    

    <title>Achievmnet and Sales Analysis</title>


</head>
<body>
    {% include 'header.html' %}
    <div class="seller_container">
    <table class="month">
        <tr>
            <td>月份</td>
        </tr>
        <tr>
            <td>一月</td>
        </tr>
        <tr>
            <td>二月</td>
        </tr>
        <tr>
            <td>三月</td>
        </tr>
        <tr>
            <td>四月</td>
        </tr>
        <tr>
            <td>五月</td>
        </tr>
        <tr>
            <td>六月</td>
        </tr>
        <tr>
            <td>七月</td>
        </tr>
        <tr>
            <td>八月</td>
        </tr>
        <tr>
            <td>九月</td>
        </tr>
        <tr>
            <td>十月</td>
        </tr>
        <tr>
            <td>十一月</td>
        </tr>
        <tr>
            <td>十二月</td>
        </tr>
    </table>

    <table class="announcement" >
        <tr>
        <td>公告</td>
        </tr>

        <tr>
        <td>2023/12/12<br>
        訊息：我肚子好餓<br></td>
        </tr>

        <tr>
        <td>2023/12/13<br>
        訊息：晚餐要吃什麼<br></td>
        </tr>
    </table>

    <table class="bchart1">
        <tr>
        <td>個別產品業績排行榜</td>
        </tr>
        <tr>
            <td><canvas id="barChart1" width="400" height="400">
            </canvas></td>
        </tr>
    </table>
<table class="bchart2">
    <tr>
        <td>產品類型銷售狀況</td>
    </tr>
    <tr>

    <td><canvas id="barChart2" width="400" height="400">
    </canvas></td>
    </tr>
</table>
<table class="pchart1">
    <tr>
        <td>成本花費表</td>
    </tr>   
    <tr> 
    <td><canvas id="pieChart1" width="400" height="400">
    </canvas></td>
    </tr>
</table>

<table class="pchart2">
    <tr>
        <td>顧客成分分析表（業務員）</td>
    </tr>
    <tr>
        <td><canvas id="pieChart2" width="400" height="400">
    </canvas></td>
    </tr>
</table>

</div>

    <script>

        var ctx = document.getElementById("barChart1");
        var barChart1 = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["1月", "2月", "3月", "4月", "5月", "6月","7月","8月","9月","10月","11月","12月"], // 換成自己的labels
                datasets: [
                {
                    type:"line",
                    label:'D型按摩椅',
                    data:[25,49,36,51,48,98,65,12,3,10,15,78],
                    lineTension:0,
                    fill:true

                },
                {
                    label: 'a型按摩椅', 
                    data: [25, 17, 75, 56, 120, 30,75,68,87,94,23,65], // 換成自己的data
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.2)',
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                    ],
                    borderWidth: 1
                },
                {
                    label: 'b型按摩椅', 
                    data: [25, 17, 75, 56, 120, 30,75,68,87,94,23,65], // 換成自己的data
                    backgroundColor: [
                        'yellow',
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',

                    ],
                    borderWidth: 1
                },
                {
                    label: 'c型按摩椅', 
                    data: [25, 17, 75, 56, 120, 30,75,68,87,94,23,65], // 換成自己的data
                    backgroundColor: [
                        'gray',
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',

                    ],
                    borderWidth: 1
                },
                
                ]
            },
            options: {
                scales: {
                    x:{
                        stacked:true

                    },
                    y:{
                        stacked:true
                    },
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });

        var ctx = document.getElementById("barChart2");
        var barChart2 = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["老人","中年人","年輕人","肩頸加強","腿部按摩"], // 換成自己的labels
                datasets: [{
                    label: '睡魔智眠椅', 
                    data: [12, 19, 3, 5,10], // 換成自己的data
                    backgroundColor: [
                        'rgba(255,99,131,0.4)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',            
                    ],
                    borderWidth: 1
                },
                {
                    label: '大師椅', 
                    data: [17, 9, 5, 7,19], // 換成自己的data
                    backgroundColor: [
                        'black'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',            
                    ],
                    borderWidth: 1

                },
                {
                    label: '天王按摩椅', 
                    data: [17, 9, 5, 7,19], // 換成自己的data
                    backgroundColor: [
                        'red'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',            
                    ],
                    borderWidth: 1

                },
                {
                    label: 'v-motion', 
                    data: [17, 9, 5, 7,19], // 換成自己的data
                    backgroundColor: [
                        'green'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',            
                    ],
                    borderWidth: 1

                },

                
                
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });

        var ctx = document.getElementById('pieChart1').getContext('2d');
        var pieChart1 = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['按摩椅', '按摩券', '維護', '折舊', '現金'],
                datasets: [{
                    label: '成本花費表',
                    data: [10, 20, 30, 40, 50],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.5)',
                        'rgba(54, 162, 235, 0.5)',
                        'rgba(255, 206, 86, 0.5)',
                        'rgba(75, 192, 192, 0.5)',
                        'rgba(153, 102, 255, 0.5)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                plugins: {
                    legend: {
                        position: 'right'
                    },
                    tooltip: {
                        callbacks: {
                            label: function(context) {
                                var label = context.label || '';
                                var value = context.parsed || 0;
                                var percent = context.dataset.data.reduce((a, b) => a + b, 0) > 0 ? (value / context.dataset.data.reduce((a, b) => a + b, 0) * 100).toFixed(2) : 0;
                                return label + ': ' + value + ' (' + percent + '%)';
                            }
                        }
                    }
                }
                // 其他配置選項...
            }
        });

        var ctx = document.getElementById('pieChart2').getContext('2d');
        var pieChart2 = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['不是孤兒', '孤兒', '老人', '上班族', '家庭主婦'],
                datasets: [{
                    label: '成本花費表',
                    data: [10, 20, 30, 40, 50],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.5)',
                        'rgba(54, 162, 235, 0.5)',
                        'rgba(255, 206, 86, 0.5)',
                        'rgba(75, 192, 192, 0.5)',
                        'rgba(153, 102, 255, 0.5)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                plugins: {
                    legend: {
                        position: 'right'
                    },
                    tooltip: {
                        callbacks: {
                            label: function(context) {
                                var label = context.label || '';
                                var value = context.parsed || 0;
                                var total = context.dataset.data.reduce((a, b) => a + b, 0);
                                return label + ': ' + value + ' (' + ((value / total) * 100).toFixed(2) + '%)';
                            }
                        }
                    },
                    datalabels: {
                        color: '#fff',
                        formatter: function(value, context) {
                            var total = context.dataset.data.reduce((a, b) => a + b, 0);
                            return Math.round((value / total) * 100) + '%';
                        }
                    }
                }
                // 其他配置選項...
            }
        });
        </script>
</body>
</html>