<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static "css/achievment.css" %}" rel="stylesheet">   
    <link href="{% static "css/all.css" %}" rel="stylesheet">
    <title>Achievmnet and Sales Analysis</title>
</head>
<body>
    {% include 'header.html' %}
    <div class="container">
    connect succes
    fuck this shit im out
    </div>
</body>
</html>