<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <title>chair</title>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="{% static "css/allpageframe.css" %}" rel="stylesheet">   
    <link href="{% static "css/chair.css" %}" rel="stylesheet">   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.0/chart.min.js" integrity="sha512-R60W3LgKdvvfwbGbqKusRu/434Snuvr9/Flhtoq9cj1LQ9P4HFKParULqOCAisHk/J4zyaEWWjiWIMuP13vXEg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> {% endcomment %}
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js" integrity="sha512-3dZ9wIrMMij8rOH7X3kLfXAzwtcHpuYpEgQg1OA4QAob1e81H8ntUQmQm3pBudqIoySO5j0tHN4ENzA6+n2r4w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>   {% endcomment %}
    <link rel="shortcut icon" href="#" />
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1"></script> {% endcomment %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.0/chart.min.js" integrity="sha512-mlz/Fs1VtBou2TrUkGzX4VoGvybkD9nkeXWJm3rle0DPHssYYx4j+8kIS15T78ttGfmOjH0lLaBXGcShaVkdkg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script> {% endcomment %}
   
</head>
<body>
    {% include 'header.html' %}

    <div class="seller_container">
        <div class="div1">
            <div class="text1">按摩椅編號</div>
            <table class="ta1">
                <tr><td><button id="C001" class="text2" style="background-color: rgb(243, 177, 178, 0.5);">C001</button></td></tr>
                <tr><td><button id="C002" class="text2">C002</button></td></tr>
                <tr><td><button id="C003" class="text2">C003</button></td></tr>
                <tr><td><button id="C004" class="text2">C004</button></td></tr>
                <tr><td><button id="C005" class="text2">C005</button></td></tr>
            </table>
        </div>
        <div class="div1">
            <div class="text1">月份</div>
            <table class="ta1">
                <tr><td><button class="text2" id="Jan" style="background-color: rgb(243, 177, 178, 0.5);">一月</button></td></tr>
                <tr><td><button class="text2" id="Feb">二月</button></td></tr>
                <tr><td><button class="text2" id="Mar">三月</button></td></tr>
                <tr><td><button class="text2" id="Apr">四月</button></td></tr>
                <tr><td><button class="text2" id="May">五月</button></td></tr>
                <tr><td><button class="text2" id="Jun">六月</button></td></tr>
                <tr><td><button class="text2" id="Jul">七月</button></td></tr>
                <tr><td><button class="text2" id="Aug">八月</button></td></tr>
                <tr><td><button class="text2" id="Sep">九月</button></td></tr>
                <tr><td><button class="text2" id="Oct">十月</button></td></tr>
                <tr><td><button class="text2" id="Nov">十一月</button></td></tr>
                <tr><td><button class="text2" id="Dec">十二月</button></tr>
            </table>
        </div>
        <div class="div3">
            <table class="ta3">
            <tr><td class="text4">本月顧客數</td></tr>
            <tr><td id="mon_num">2000</td></tr>
            </table>
            <table class="ta4">
                <tr><td class="text4">按摩椅狀況</td></tr>
                <tr><td id="state">正常</td></tr>
                </table>
        </div>
        <div class="div2">
            <div class="text4"><div id="give">C001</div>收到的回饋內容</div>
            <table class="ta2">
            <tr class="text3"><td>客戶</td><td>日期</td><td>回饋內容</td></tr> 
            <tr class="text3"><td id="client1_1" class="color">c20210302121314000</td><td id="date1">1/5</td><td id="give1">很舒適，椅子很乾淨</td></tr>
            <tr class="text3"><td id="client1_2" class="color">c20230502111314778</td><td id="date2">1/28</td><td id="give2">力道似乎有點弱</td></tr>
            <tr class="text3"><td id="client1_3" class="color">c20230601091315340</td><td id="date3">2/15</td><td id="give3">希望能體驗時間加長</td></tr>
            <tr class="text3"><td id="client1_4" class="color">c20230431222222045</td><td id="date4">3/21</td><td id="give4">以後有機會來買一台</td></tr>
            <tr class="text3"><td id="client1_5" class="color">c20230605142259011</td><td id="date5">3/22</td><td id="give5">第一次體驗這台，會來回顧</td></tr>
            <tr class="text3"><td id="client1_6" class="color">c20230612082345789</td><td id="date6">5/18</td><td id="give6">今天天氣真好</td></tr>
            <tr class="text3"><td id="client1_7" class="color">c20210302121314000</td><td id="date7">6/5</td><td id="give7">好熱進來吹冷氣按摩</td></tr>
            </table>
        </div>
        <div class="myChart">
            <div class="text4"><div id="mon">每月使用次數</div></div><canvas id="my3"></canvas>
            <div class="text4"><div id="wee">每週使用次數</div></div><canvas id="myChart"></canvas>
        </div>
        <div class="my4">
            <div class="div4"><canvas id="my4"></canvas></div>
            <div class="div5"><canvas id="my2"></canvas></div>
        </div>
        <div id="chair" style="color: white;">C001</div>
        <div id="Month" style="color: white;">Jan</div>
    </div>
</body>
    <script src="{% static 'js/chair_page/chair1.js' %}"></script>
    <script src="{% static 'js/chair_page/chair2.js' %}"></script>
    <script src="{% static 'js/chair_page/chair3.js' %}"></script>
    <script src="{% static 'js/chair_page/chair4.js' %}"></script>
<script>
    document.getElementById('C001').onclick = function() {  
        document.getElementById('chair').innerHTML="C001";
        document.getElementById('C001').style.backgroundColor='rgba(243, 177, 178, 0.5)';
        document.getElementById('C002').style.backgroundColor='rgba(25, 99, 132, 0.2)';
        document.getElementById('C003').style.backgroundColor='rgba(25, 99, 132, 0.2)';
        document.getElementById('C004').style.backgroundColor='rgba(25, 99, 132, 0.2)';
        document.getElementById('C005').style.backgroundColor='rgba(25, 99, 132, 0.2)';
        myChart.data.datasets[0].label = "C001";
        document.getElementById('state').innerHTML = '正常';
        document.getElementById('give').innerHTML = 'C001';
        document.getElementById('client1_1').innerHTML = 'c20210302121314000';
        document.getElementById('client1_2').innerHTML = 'c20230502111314778';
        document.getElementById('client1_3').innerHTML = 'c20230601091315340';
        document.getElementById('client1_4').innerHTML = 'c20230431222222045';
        document.getElementById('client1_5').innerHTML = 'c20230605142259011';
        document.getElementById('client1_6').innerHTML = 'c20230612082345789';
        document.getElementById('client1_7').innerHTML = 'c20210302121314000';
        document.getElementById('date1').innerHTML = '1/5';
        document.getElementById('date2').innerHTML = '1/28';
        document.getElementById('date3').innerHTML = '2/15';
        document.getElementById('date4').innerHTML = '3/21';
        document.getElementById('date5').innerHTML = '3/22';
        document.getElementById('date6').innerHTML = '5/18';
        document.getElementById('date7').innerHTML = '6/5';
        document.getElementById('give1').innerHTML = '很舒適，椅子很乾淨';
        document.getElementById('give2').innerHTML = '力道似乎有點弱';
        document.getElementById('give3').innerHTML = '希望能體驗時間加長';
        document.getElementById('give4').innerHTML = '以後有機會來買一台';
        document.getElementById('give5').innerHTML = '第一次體驗這台，會來回顧';
        document.getElementById('give6').innerHTML = '今天天氣真好';
        document.getElementById('give7').innerHTML = '好熱進來吹冷氣按摩';
        my4.data.datasets[0].data = [15, 90];

        if(document.getElementById('Month').innerHTML=="Jan"){
            document.getElementById('wee').innerHTML = 'C001一月每週使用次數';
            document.getElementById('mon').innerHTML = 'C001一月使用次數';
            myChart.data.datasets[0].data = [10, 15, 7, 12];
            my3.data.datasets[0].data = [44];
        }else if(document.getElementById('Month').innerHTML=="Feb"){
            document.getElementById('wee').innerHTML = 'C001二月每週使用次數';
            document.getElementById('mon').innerHTML = 'C001二月使用次數';
            myChart.data.datasets[0].data = [9, 14, 9, 13];
            my3.data.datasets[0].data = [45];
        }else if(document.getElementById('Month').innerHTML=="Mar"){
            document.getElementById('wee').innerHTML = 'C001三月每週使用次數';
            document.getElementById('mon').innerHTML = 'C001三月使用次數';
            myChart.data.datasets[0].data = [12, 21, 11, 15];
            my3.data.datasets[0].data = [59];
        }else if(document.getElementById('Month').innerHTML=="Apr"){
            document.getElementById('wee').innerHTML = 'C001四月每週使用次數';
            document.getElementById('mon').innerHTML = 'C001四月使用次數';
            myChart.data.datasets[0].data = [13, 17, 17, 14];
            my3.data.datasets[0].data = [61];
        }else if(document.getElementById('Month').innerHTML=="May"){
            document.getElementById('wee').innerHTML = 'C001五月每週使用次數';
            document.getElementById('mon').innerHTML = 'C001五月使用次數';
            myChart.data.datasets[0].data = [8, 11, 9, 18];
            my3.data.datasets[0].data = [46];
        }else if(document.getElementById('Month').innerHTML=="Jun"){
            document.getElementById('wee').innerHTML = 'C001六月每週使用次數';
            document.getElementById('mon').innerHTML = 'C001六月使用次數';
            myChart.data.datasets[0].data = [12, 15, 14, 21];
            my3.data.datasets[0].data = [62];
        }else if(document.getElementById('Month').innerHTML=="Jul"){
            document.getElementById('wee').innerHTML = 'C001七月每週使用次數';
            document.getElementById('mon').innerHTML = 'C001七月使用次數';
            myChart.data.datasets[0].data = [8, 23, 4, 11];
            my3.data.datasets[0].data = [46];
        }else if(document.getElementById('Month').innerHTML=="Aug"){
            document.getElementById('wee').innerHTML = 'C001八月每週使用次數';
            document.getElementById('mon').innerHTML = 'C001八月使用次數';
            myChart.data.datasets[0].data = [9, 18, 8, 15];
            my3.data.datasets[0].data = [50];
        }else if(document.getElementById('Month').innerHTML=="Sep"){
            document.getElementById('wee').innerHTML = 'C001九月每週使用次數';
            document.getElementById('mon').innerHTML = 'C001九月使用次數';
            myChart.data.datasets[0].data = [10, 12, 13, 25];
            my3.data.datasets[0].data = [60];
        }else if(document.getElementById('Month').innerHTML=="Oct"){
            document.getElementById('wee').innerHTML = 'C001十月每週使用次數';
            document.getElementById('mon').innerHTML = 'C001十月使用次數';
            myChart.data.datasets[0].data = [13, 8, 20, 18];
            my3.data.datasets[0].data = [59];
        }else if(document.getElementById('Month').innerHTML=="Nov"){
            document.getElementById('wee').innerHTML = 'C001十一月每週使用次數';
            document.getElementById('mon').innerHTML = 'C001十一月使用次數';
            myChart.data.datasets[0].data = [9, 8, 10, 15];
            my3.data.datasets[0].data = [42];
        }else if(document.getElementById('Month').innerHTML=="Dec"){
            document.getElementById('wee').innerHTML = 'C001十二月每週使用次數';
            document.getElementById('mon').innerHTML = 'C001十二月使用次數';
            myChart.data.datasets[0].data = [15, 20, 18, 19];
            my3.data.datasets[0].data = [72];
        }
        // 更新图表
        myChart.update();
        my3.update();
        my4.update();
}

document.getElementById('C002').onclick = function() {  
        document.getElementById('chair').innerHTML="C002";
        document.getElementById('C002').style.backgroundColor='rgba(243, 177, 178, 0.5)';
        document.getElementById('C001').style.backgroundColor='rgba(25, 99, 132, 0.2)';
        document.getElementById('C003').style.backgroundColor='rgba(25, 99, 132, 0.2)';
        document.getElementById('C004').style.backgroundColor='rgba(25, 99, 132, 0.2)';
        document.getElementById('C005').style.backgroundColor='rgba(25, 99, 132, 0.2)';
        myChart.data.datasets[0].label = "C002";
        document.getElementById('state').innerHTML = '維修';
        document.getElementById('give').innerHTML = 'C002';
        document.getElementById('client1_1').innerHTML = 'c20230601091315340';
        document.getElementById('client1_2').innerHTML = 'c20230605142259011';
        document.getElementById('client1_3').innerHTML = 'c20230431222222045';
        document.getElementById('client1_4').innerHTML = 'c20210302121314000';
        document.getElementById('client1_5').innerHTML = 'c20230601091315340';
        document.getElementById('client1_6').innerHTML = 'c20230612082345789';
        document.getElementById('client1_7').innerHTML = 'c20210302121314000';
        document.getElementById('date1').innerHTML = '1/21';
        document.getElementById('date2').innerHTML = '2/28';
        document.getElementById('date3').innerHTML = '4/30';
        document.getElementById('date4').innerHTML = '6/22';
        document.getElementById('date5').innerHTML = '7/19';
        document.getElementById('date6').innerHTML = '9/28';
        document.getElementById('date7').innerHTML = '12/31';
        document.getElementById('give1').innerHTML = '外觀很漂亮，按摩效果一流';
        document.getElementById('give2').innerHTML = '按摩程序豐富多樣，很享受';
        document.getElementById('give3').innerHTML = '材質不錯，坐著很舒服';
        document.getElementById('give4').innerHTML = '按摩力度太強，有點不舒服';
        document.getElementById('give5').innerHTML = '第一次體驗這台，會來回顧';
        document.getElementById('give6').innerHTML = '價格偏高';
        document.getElementById('give7').innerHTML = '操作簡單，適合老年人使用';
        my4.data.datasets[0].data = [25, 90];

        if(document.getElementById('Month').innerHTML=="Jan"){
            document.getElementById('wee').innerHTML = 'C002一月每週使用次數';
            document.getElementById('mon').innerHTML = 'C002一月使用次數';
            myChart.data.datasets[0].data = [8, 15, 16, 4];
            my3.data.datasets[0].data = [43];
        }else if(document.getElementById('Month').innerHTML=="Feb"){
            document.getElementById('wee').innerHTML = 'C002二月每週使用次數';
            document.getElementById('mon').innerHTML = 'C002二月使用次數';
            myChart.data.datasets[0].data = [6, 10, 4, 22];
            my3.data.datasets[0].data = [42];
        }else if(document.getElementById('Month').innerHTML=="Mar"){
            document.getElementById('wee').innerHTML = 'C002三月每週使用次數';
            document.getElementById('mon').innerHTML = 'C002三月使用次數';
            myChart.data.datasets[0].data = [9, 4, 14, 16];
            my3.data.datasets[0].data = [43];
        }else if(document.getElementById('Month').innerHTML=="Apr"){
            document.getElementById('wee').innerHTML = 'C002四月每週使用次數';
            document.getElementById('mon').innerHTML = 'C002四月使用次數';
            myChart.data.datasets[0].data = [9, 7, 23, 16];
            my3.data.datasets[0].data = [55];
        }else if(document.getElementById('Month').innerHTML=="May"){
            document.getElementById('wee').innerHTML = 'C002五月每週使用次數';
            document.getElementById('mon').innerHTML = 'C002五月使用次數';
            myChart.data.datasets[0].data = [12, 13, 15, 5];
            my3.data.datasets[0].data = [45];
        }else if(document.getElementById('Month').innerHTML=="Jun"){
            document.getElementById('wee').innerHTML = 'C002六月每週使用次數';
            document.getElementById('mon').innerHTML = 'C002六月使用次數';
            myChart.data.datasets[0].data = [12, 20, 6, 22];
            my3.data.datasets[0].data = [60];
        }else if(document.getElementById('Month').innerHTML=="Jul"){
            document.getElementById('wee').innerHTML = 'C002七月每週使用次數';
            document.getElementById('mon').innerHTML = 'C002七月使用次數';
            myChart.data.datasets[0].data = [6, 13, 14, 13];
            my3.data.datasets[0].data = [46];
        }else if(document.getElementById('Month').innerHTML=="Aug"){
            document.getElementById('wee').innerHTML = 'C002八月每週使用次數';
            document.getElementById('mon').innerHTML = 'C002八月使用次數';
            myChart.data.datasets[0].data = [23, 18, 5, 16];
            my3.data.datasets[0].data = [62];
        }else if(document.getElementById('Month').innerHTML=="Sep"){
            document.getElementById('wee').innerHTML = 'C002九月每週使用次數';
            document.getElementById('mon').innerHTML = 'C002九月使用次數';
            myChart.data.datasets[0].data = [19, 10, 8, 18];
            my3.data.datasets[0].data = [55];
        }else if(document.getElementById('Month').innerHTML=="Oct"){
            document.getElementById('wee').innerHTML = 'C002十月每週使用次數';
            document.getElementById('mon').innerHTML = 'C002十月使用次數';
            myChart.data.datasets[0].data = [19, 4, 25, 4];
            my3.data.datasets[0].data = [52];
        }else if(document.getElementById('Month').innerHTML=="Nov"){
            document.getElementById('wee').innerHTML = 'C002十一月每週使用次數';
            document.getElementById('mon').innerHTML = 'C002十一月使用次數';
            myChart.data.datasets[0].data = [12, 12, 6, 5];
            my3.data.datasets[0].data = [35];
        }else if(document.getElementById('Month').innerHTML=="Dec"){
            document.getElementById('wee').innerHTML = 'C002十二月每週使用次數';
            document.getElementById('mon').innerHTML = 'C002十二月使用次數';
            myChart.data.datasets[0].data = [23, 17, 5, 25];
            my3.data.datasets[0].data = [70];
        }
        // 更新图表
        myChart.update();
        my3.update();
        my4.update();
}

document.getElementById('C003').onclick = function() {  
        document.getElementById('chair').innerHTML="C003";
        document.getElementById('C003').style.backgroundColor='rgba(243, 177, 178, 0.5)';
        document.getElementById('C001').style.backgroundColor='rgba(25, 99, 132, 0.2)';
        document.getElementById('C002').style.backgroundColor='rgba(25, 99, 132, 0.2)';
        document.getElementById('C004').style.backgroundColor='rgba(25, 99, 132, 0.2)';
        document.getElementById('C005').style.backgroundColor='rgba(25, 99, 132, 0.2)';
        myChart.data.datasets[0].label = "C003";
        document.getElementById('state').innerHTML = '正常';
        document.getElementById('give').innerHTML = 'C003';
        document.getElementById('client1_1').innerHTML = 'c20230431222222045';
        document.getElementById('client1_2').innerHTML = 'c20230601091315340';
        document.getElementById('client1_3').innerHTML = 'c20210302121314000';
        document.getElementById('client1_4').innerHTML = 'c20230605142259011';
        document.getElementById('client1_5').innerHTML = 'c20230612082345789';
        document.getElementById('client1_6').innerHTML = 'c20230601091315340';
        document.getElementById('client1_7').innerHTML = 'c20210302121314000';
        document.getElementById('date1').innerHTML = '3/19';
        document.getElementById('date2').innerHTML = '4/25';
        document.getElementById('date3').innerHTML = '5/18';
        document.getElementById('date4').innerHTML = '7/22';
        document.getElementById('date5').innerHTML = '9/4';
        document.getElementById('date6').innerHTML = '9/7';
        document.getElementById('date7').innerHTML = '11/16';
        document.getElementById('give1').innerHTML = '按摩手法仿真，猶如專業按摩師';
        document.getElementById('give2').innerHTML = '下次帶父母來';
        document.getElementById('give3').innerHTML = '很舒服';
        document.getElementById('give4').innerHTML = '希望可以有更弱的模式';
        document.getElementById('give5').innerHTML = '每次都來用這台，好用';
        document.getElementById('give6').innerHTML = '希望有優惠券';
        document.getElementById('give7').innerHTML = '冬天使用更舒適';
        my4.data.datasets[0].data = [13, 90];

        if(document.getElementById('Month').innerHTML=="Jan"){
            document.getElementById('wee').innerHTML = 'C003一月每週使用次數';
            document.getElementById('mon').innerHTML = 'C003一月使用次數';
            myChart.data.datasets[0].data = [18, 18, 23, 24];
            my3.data.datasets[0].data = [83];
        }else if(document.getElementById('Month').innerHTML=="Feb"){
            document.getElementById('wee').innerHTML = 'C003二月每週使用次數';
            document.getElementById('mon').innerHTML = 'C003二月使用次數';
            myChart.data.datasets[0].data = [16, 17, 20, 18];
            my3.data.datasets[0].data = [71];
        }else if(document.getElementById('Month').innerHTML=="Mar"){
            document.getElementById('wee').innerHTML = 'C003三月每週使用次數';
            document.getElementById('mon').innerHTML = 'C003三月使用次數';
            myChart.data.datasets[0].data = [29, 26, 30, 28];
            my3.data.datasets[0].data = [113];
        }else if(document.getElementById('Month').innerHTML=="Apr"){
            document.getElementById('wee').innerHTML = 'C003四月每週使用次數';
            document.getElementById('mon').innerHTML = 'C003四月使用次數';
            myChart.data.datasets[0].data = [8, 20, 17, 30];
            my3.data.datasets[0].data = [75];
        }else if(document.getElementById('Month').innerHTML=="May"){
            document.getElementById('wee').innerHTML = 'C003五月每週使用次數';
            document.getElementById('mon').innerHTML = 'C003五月使用次數';
            myChart.data.datasets[0].data = [14, 9, 14, 5];
            my3.data.datasets[0].data = [42];
        }else if(document.getElementById('Month').innerHTML=="Jun"){
            document.getElementById('wee').innerHTML = 'C003六月每週使用次數';
            document.getElementById('mon').innerHTML = 'C003六月使用次數';
            myChart.data.datasets[0].data = [26, 21, 30, 16];
            my3.data.datasets[0].data = [73];
        }else if(document.getElementById('Month').innerHTML=="Jul"){
            document.getElementById('wee').innerHTML = 'C003七月每週使用次數';
            document.getElementById('mon').innerHTML = 'C003七月使用次數';
            myChart.data.datasets[0].data = [8, 25, 21, 14];
            my3.data.datasets[0].data = [68];
        }else if(document.getElementById('Month').innerHTML=="Aug"){
            document.getElementById('wee').innerHTML = 'C003八月每週使用次數';
            document.getElementById('mon').innerHTML = 'C003八月使用次數';
            myChart.data.datasets[0].data = [9, 18, 16, 8];
            my3.data.datasets[0].data = [51];
        }else if(document.getElementById('Month').innerHTML=="Sep"){
            document.getElementById('wee').innerHTML = 'C003九月每週使用次數';
            document.getElementById('mon').innerHTML = 'C003九月使用次數';
            myChart.data.datasets[0].data = [22, 18, 8, 19];
            my3.data.datasets[0].data = [67];
        }else if(document.getElementById('Month').innerHTML=="Oct"){
            document.getElementById('wee').innerHTML = 'C003十月每週使用次數';
            document.getElementById('mon').innerHTML = 'C003十月使用次數';
            myChart.data.datasets[0].data = [12, 22, 24, 9];
            my3.data.datasets[0].data = [67];
        }else if(document.getElementById('Month').innerHTML=="Nov"){
            document.getElementById('wee').innerHTML = 'C003十一月每週使用次數';
            document.getElementById('mon').innerHTML = 'C003十一月使用次數';
            myChart.data.datasets[0].data = [6, 15, 5, 17];
            my3.data.datasets[0].data = [43];
        }else if(document.getElementById('Month').innerHTML=="Dec"){
            document.getElementById('wee').innerHTML = 'C003十二月每週使用次數';
            document.getElementById('mon').innerHTML = 'C003十二月使用次數';
            myChart.data.datasets[0].data = [25, 25, 23, 10];
            my3.data.datasets[0].data = [73];
        }
        // 更新图表
        myChart.update();
        my3.update();
        my4.update();
}

document.getElementById('Jan').onclick = function() {
    document.getElementById('Month').innerHTML="Jan";
    document.getElementById('mon_num').innerHTML="2000";
    document.getElementById('Jan').style.backgroundColor='rgba(243, 177, 178, 0.5)';
    document.getElementById('Feb').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Mar').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Apr').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('May').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Jun').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Jul').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Aug').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Sep').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Oct').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Nov').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Dec').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    myChart.data.datasets[1].data =  [70, 66, 71, 71];
    my3.data.labels =["一月"];
    my3.data.datasets[1].data = [300];

    if(document.getElementById('chair').innerHTML=="C001"){
        document.getElementById('wee').innerHTML = 'C001一月每週使用次數';
        document.getElementById('mon').innerHTML = 'C001一月使用次數';
        myChart.data.datasets[0].data = [10, 15, 7, 12];
        my3.data.datasets[0].data = [44];
    }else if(document.getElementById('chair').innerHTML=="C002"){
        document.getElementById('wee').innerHTML = 'C002一月每週使用次數';
        document.getElementById('mon').innerHTML = 'C002一月使用次數';
        myChart.data.datasets[0].data = [8, 15, 16, 4];
        my3.data.datasets[0].data = [43];
    }else if(document.getElementById('chair').innerHTML=="C003"){
        document.getElementById('wee').innerHTML = 'C003一月每週使用次數';
        document.getElementById('mon').innerHTML = 'C003一月使用次數';
        myChart.data.datasets[0].data = [18, 18, 23, 24];
        my3.data.datasets[0].data = [83];
    }
     // 更新图表
     myChart.update();
     my3.update();
}

document.getElementById('Feb').onclick = function() {
    document.getElementById('Month').innerHTML="Feb";
    document.getElementById('mon_num').innerHTML="1500";
    document.getElementById('Feb').style.backgroundColor='rgba(243, 177, 178, 0.5)';
    document.getElementById('Jan').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Mar').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Apr').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('May').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Jun').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Jul').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Aug').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Sep').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Oct').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Nov').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Dec').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    myChart.data.datasets[1].data = [82, 65, 70, 66];
    my3.data.labels =["二月"];
    my3.data.datasets[1].data = [350];

    if(document.getElementById('chair').innerHTML=="C001"){
        document.getElementById('wee').innerHTML = 'C001二月每週使用次數';
        document.getElementById('mon').innerHTML = 'C001二月使用次數';
        myChart.data.datasets[0].data = [8, 15, 7, 12];
        
    }else if(document.getElementById('chair').innerHTML=="C002"){
        document.getElementById('wee').innerHTML = 'C002二月每週使用次數';
        document.getElementById('mon').innerHTML = 'C002二月使用次數';
        myChart.data.datasets[0].data = [32, 15, 7, 12];
    }else if(document.getElementById('chair').innerHTML=="C003"){
        document.getElementById('wee').innerHTML = 'C003二月每週使用次數';
        document.getElementById('mon').innerHTML = 'C003二月使用次數';
        myChart.data.datasets[0].data = [16, 17, 20, 18];
        my3.data.datasets[0].data = [71];
    }
     // 更新图表
     myChart.update();
     my3.update();
}

document.getElementById('Mar').onclick = function() {
    document.getElementById('Month').innerHTML="Mar";
    document.getElementById('mon_num').innerHTML="3000";
    document.getElementById('Mar').style.backgroundColor='rgba(243, 177, 178, 0.5)';
    document.getElementById('Feb').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Jan').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Apr').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('May').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Jun').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Jul').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Aug').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Sep').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Oct').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Nov').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Dec').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    myChart.data.datasets[1].data = [82, 65, 70, 66];
    my3.data.labels =["三月"];
    my3.data.datasets[1].data = [350];

    if(document.getElementById('chair').innerHTML=="C001"){
        document.getElementById('wee').innerHTML = 'C001三月每週使用次數';
        document.getElementById('mon').innerHTML = 'C001三月使用次數';
        myChart.data.datasets[0].data = [12, 21, 11, 15];
        my3.data.datasets[0].data = [59];
    }else if(document.getElementById('chair').innerHTML=="C002"){
        document.getElementById('wee').innerHTML = 'C002三月每週使用次數';
        document.getElementById('mon').innerHTML = 'C002三月使用次數';
        myChart.data.datasets[0].data = [9, 4, 14, 16];
        my3.data.datasets[0].data = [43];
    }else if(document.getElementById('chair').innerHTML=="C003"){
        document.getElementById('wee').innerHTML = 'C003三月每週使用次數';
        document.getElementById('mon').innerHTML = 'C003三月使用次數';
        myChart.data.datasets[0].data = [29, 26, 30, 28];
        my3.data.datasets[0].data = [113];
    }
     // 更新图表
     myChart.update();
     my3.update();
}

document.getElementById('Apr').onclick = function() {
    document.getElementById('Month').innerHTML="Apr";
    document.getElementById('mon_num').innerHTML="2800";
    document.getElementById('Apr').style.backgroundColor='rgba(243, 177, 178, 0.5)';
    document.getElementById('Feb').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Jan').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Mar').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('May').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Jun').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Jul').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Aug').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Sep').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Oct').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Nov').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Dec').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    myChart.data.datasets[1].data = [86, 77, 90, 68];
    my3.data.labels =["四月"];
    my3.data.datasets[1].data = [320];

    if(document.getElementById('chair').innerHTML=="C001"){
        document.getElementById('wee').innerHTML = 'C001四月每週使用次數';
        document.getElementById('mon').innerHTML = 'C001四月使用次數';
        myChart.data.datasets[0].data = [13, 17, 17, 14];
        my3.data.datasets[0].data = [61];
    }else if(document.getElementById('chair').innerHTML=="C002"){
        document.getElementById('wee').innerHTML = 'C002四月每週使用次數';
        document.getElementById('mon').innerHTML = 'C002四月使用次數';
        myChart.data.datasets[0].data = [9, 7, 23, 16];
        my3.data.datasets[0].data = [55];
    }else if(document.getElementById('chair').innerHTML=="C003"){
        document.getElementById('wee').innerHTML = 'C003四月每週使用次數';
        document.getElementById('mon').innerHTML = 'C003四月使用次數';
        myChart.data.datasets[0].data = [8, 20, 17, 30];
        my3.data.datasets[0].data = [75];
    }
     // 更新图表
     myChart.update();
     my3.update();
}

document.getElementById('May').onclick = function() {
    document.getElementById('Month').innerHTML="May";
    document.getElementById('mon_num').innerHTML="2950";
    document.getElementById('May').style.backgroundColor='rgba(243, 177, 178, 0.5)';
    document.getElementById('Feb').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Jan').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Mar').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Apr').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Jun').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Jul').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Aug').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Sep').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Oct').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Nov').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Dec').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    myChart.data.datasets[1].data = [90, 66, 87, 78];
    my3.data.labels =["五月"];
    my3.data.datasets[1].data = [297];

    if(document.getElementById('chair').innerHTML=="C001"){
        document.getElementById('wee').innerHTML = 'C001五月每週使用次數';
        document.getElementById('mon').innerHTML = 'C001五月使用次數';
        myChart.data.datasets[0].data = [8, 11, 9, 18];
        my3.data.datasets[0].data = [46];
    }else if(document.getElementById('chair').innerHTML=="C002"){
        document.getElementById('wee').innerHTML = 'C002五月每週使用次數';
        document.getElementById('mon').innerHTML = 'C002五月使用次數';
        myChart.data.datasets[0].data = [12, 13, 15, 5];
        my3.data.datasets[0].data = [45];
    }else if(document.getElementById('chair').innerHTML=="C003"){
        document.getElementById('wee').innerHTML = 'C003五月每週使用次數';
        document.getElementById('mon').innerHTML = 'C003五月使用次數';
        myChart.data.datasets[0].data = [14, 9, 14, 5];
        my3.data.datasets[0].data = [42];
    }
     // 更新图表
     myChart.update();
     my3.update();
}

document.getElementById('Jun').onclick = function() {
    document.getElementById('Month').innerHTML="Jun";
    document.getElementById('mon_num').innerHTML="3180";
    document.getElementById('Jun').style.backgroundColor='rgba(243, 177, 178, 0.5)';
    document.getElementById('Feb').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Jan').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Mar').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Apr').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('May').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Jul').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Aug').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Sep').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Oct').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Nov').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    document.getElementById('Dec').style.backgroundColor='rgba(25, 99, 132, 0.2)';
    myChart.data.datasets[1].data = [70, 85, 92, 77];
    my3.data.labels =["六月"];
    my3.data.datasets[1].data = [312];

    if(document.getElementById('chair').innerHTML=="C001"){
        document.getElementById('wee').innerHTML = 'C001六月每週使用次數';
        document.getElementById('mon').innerHTML = 'C001六月使用次數';
        myChart.data.datasets[0].data = [12, 15, 14, 21];
        my3.data.datasets[0].data = [62];
    }else if(document.getElementById('chair').innerHTML=="C002"){
        document.getElementById('wee').innerHTML = 'C002六月每週使用次數';
        document.getElementById('mon').innerHTML = 'C002六月使用次數';
        myChart.data.datasets[0].data = [12, 20, 6, 22];
        my3.data.datasets[0].data = [60];
    }else if(document.getElementById('chair').innerHTML=="C003"){
        document.getElementById('wee').innerHTML = 'C003六月每週使用次數';
        document.getElementById('mon').innerHTML = 'C003六月使用次數';
        myChart.data.datasets[0].data = [26, 21, 30, 16];
        my3.data.datasets[0].data = [73];
    }
     // 更新图表
     myChart.update();
     my3.update();
}
</script>

</html>