<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Analysis</title>
    <link href="{% static "css/seller.css" %}" rel="stylesheet">   
    <link href="{% static "css/all.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.0/chart.min.js" integrity="sha512-R60W3LgKdvvfwbGbqKusRu/434Snuvr9/Flhtoq9cj1LQ9P4HFKParULqOCAisHk/J4zyaEWWjiWIMuP13vXEg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="#" />
    <script src="{% static 'js/seller_page/piechart.js' %}"></script>
    <script src="{% static 'js/seller_page/piechart2.js' %}"></script>
    <script src="{% static 'js/seller_page/lineChart1.js' %}"></script>
    <script src="{% static 'js/seller_page/lineChart2.js' %}"></script>

    <script src="{% static 'js/seller_page/seller.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1"></script>
</head>
<body>
     {% include 'header.html' %} 
    <div class="container">
        <div class="container_select ">
            <div class="container_table ">
            <table class="seller_select">
                <tr>
                <td>業務員編號</td>
                </tr>
                <tr>
                <td>Row 2</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
              </table>
        
            </div>
        </div>
        <div class="container_top ">
            <div class="container_select container_select_small">
                <div class="container_table ">
                    <table class="seller_select">
                        <tr>
                            <td>客戶編號</td>
                            </tr>
                            <tr>
                            <td>Row 2</td>
                            </tr>
                            <tr>
                            <td>Row 3</td>
                            </tr>
                            <tr>
                            <td>Row 3</td>
                            </tr>
                            <tr>
                            <td>Row 3</td>
                            </tr>
                            <tr>
                            <td>Row 3</td>
                            </tr>
                            <tr>
                            <td>Row 3</td>
                            </tr>
                            <tr>
                            <td>Row 3</td>
                            </tr>
                            <tr>
                            <td>Row 3</td>
                            </tr>
                            <tr>
                            <td>Row 3</td>
                            </tr>
                            <tr>
                            <td>Row 3</td>
                            </tr>
                            <tr>
                            <td>Row 3</td>
                            </tr>
                            <tr>
                            <td>Row 3</td>
                            </tr>
                            <tr>
                            <td>Row 3</td>
                            </tr>
                            <tr>
                    </table>
                </div>
            </div>
            <div class="cardarea ">

            </div>
            <div class="chartarea " id="myDiv">
                <canvas id="myChart"></canvas>
            </div>
            <div class="chartarea ">
                <canvas id="mypieChart"></canvas>
            </div>
            <div class="chartarea ">
                <canvas id="mypieChart1"></canvas>
            </div>
        </div>
        <div class="container_button ">
            <div class="container_button_left ">
                <div class="container_button_inside">
                </div>
                <div class="container_top_inside ">
                    <div class="small_chartarea ">
        
                    </div>
                    <div class="small_chartarea ">
        
                    </div>
                    <div class="small_chartarea ">
        
                    </div>
                    <div class="small_chartarea ">
        
                    </div>
                    
                </div>
            </div>
            <div class="container_button_right ">
                <div class="container_button_right_divide ">
                     <canvas id="mylineChart"></canvas>
                </div>
                
                <div class="container_button_right_divide ">
        
                    <canvas id="mylineChart2"></canvas>
                </div>
                
                
            </div>
        </div>
    </div>
</body>
</html>