<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Analysis</title>
    <link href="{% static "css/seller.css" %}" rel="stylesheet">   
</head>
<body>
    {% include 'header.html' %}
    <div class="container">
        <div class="container_select">
            <table class="seller_select">
                <tr>
                <th>業務員編號</th>
                </tr>
                <tr>
                <td>Row 2</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
              </table>
        </div>
       
    </div>
</body>
</html>