<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Analysis</title>
    <link href="{% static "css/seller.css" %}" rel="stylesheet">   
    <link href="{% static "css/all.css" %}" rel="stylesheet">
</head>
<body>
    {% comment %} {% include 'header.html' %} {% endcomment %}
    <div class="container">
        <div class="container_select ">
            <div class="container_table ">
            <table class="seller_select">
                <tr>
                <td>業務員編號</td>
                </tr>
                <tr>
                <td>Row 2</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
                <tr>
                <td>Row 3</td>
                </tr>
              </table>
        
            </div>
        </div>
        <div class="container_top ">
            <div class="container_select container_select_small">
                <div class="container_table ">
                    <table class="seller_select">
                        <tr>
                            <td>客戶編號</td>
                            </tr>
                            <tr>
                            <td>Row 2</td>
                            </tr>
                            <tr>
                            <td>Row 3</td>
                            </tr>
                            <tr>
                            <td>Row 3</td>
                            </tr>
                            <tr>
                            <td>Row 3</td>
                            </tr>
                            <tr>
                            <td>Row 3</td>
                            </tr>
                            <tr>
                            <td>Row 3</td>
                            </tr>
                            <tr>
                            <td>Row 3</td>
                            </tr>
                            <tr>
                            <td>Row 3</td>
                            </tr>
                            <tr>
                            <td>Row 3</td>
                            </tr>
                            <tr>
                            <td>Row 3</td>
                            </tr>
                            <tr>
                            <td>Row 3</td>
                            </tr>
                            <tr>
                            <td>Row 3</td>
                            </tr>
                            <tr>
                            <td>Row 3</td>
                            </tr>
                            <tr>
                    </table>
                </div>
            </div>
            <div class="cardarea ">

            </div>
            <div class="chartarea ">
                <div>
                    {% autoescape off %}
                        {{plot_div }}
                    {% endautoescape %}
                </div>
            </div>
            <div class="chartarea ">

            </div>
            <div class="chartarea ">

            </div>
        </div>
        <div class="container_button ">
            <div class="container_button_left ">
                <div class="container_button_inside">
                </div>
                <div class="container_top_inside ">
                    <div class="small_chartarea ">
        
                    </div>
                    <div class="small_chartarea ">
        
                    </div>
                    <div class="small_chartarea ">
        
                    </div>
                    <div class="small_chartarea ">
        
                    </div>
                    
                </div>
            </div>
            <div class="container_button_right ">
                <div class="container_button_right_divide ">
    
                </div>
                
                <div class="container_button_right_divide ">
        
                </div>
                
                
            </div>
        </div>
    </div>
</body>
</html>